{% load thumbnail %}
{% thumbnail product.sample_image 244x244 HIGH_RESOLUTION as thumb %}
{% thumbnail product.sample_image 488x488  as thumb2 %}
{% ifnotequal  product.discount "- 0 %" %}
<h3 style="position: absolute; color: #fff; background-color: #016d8b; border: 2px solid #fff; padding: 4px; top: 0px;
  right: 16px;"><em><strong>{{ product.discount }}</strong></em></h3>
{% endifnotequal %}
<div class="pict-frame">
<img class="img-responsive" style="margin-top: 2em; margin-left: auto; margin-right: auto;" src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}" srcset="{{ thumb.url }} 1x, {{ thumb2.url }} 2x" />
</div>
