{% extends "shop/catalog/product-add2cart.html" %}
{% load i18n %}

{% block add-product-to-cart-table %}
<table shop-add-to-cart="{{ product.get_absolute_url }}/add-clothes-to-cart" class="table">
	<thead>
		<tr>
			<th>{% trans "Size" %}</th>
			<th>{% trans "Quantity" %}</th>
			<th>{% trans "Unit Price" %}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<select class="form-control" ng-model="context.product_size" ng-change="updateContext()" >
	{% for product_variant in product.variants.all %}
					<option value="{{ product_variant.product_size }}">
						{{ product_variant.product_size }}
					</option>
	{% endfor %}
				</select>
			</td>
			<td>
				<div class="form-group">
					<input class="form-control" type="number" min="1" ng-model="context.quantity" ng-model-options="{{ ADD2CART_NG_MODEL_OPTIONS }}" ng-change="updateContext()" />
				</div>
			</td>
			<td ng-bind="context.unit_price"></td>
		</tr>
		{% if request.session.is_empty %}
		<tr>
			<td colspan="4">{% block cookie-disclaimer %}{{ block.super }}{% endblock %}</td>
		</tr>
		{% endif %}
		<tr>
			<td colspan="2">
				<button class="btn btn-primary btn-block" ng-click="addToCart('{% url 'shop:cart-list' %}')">{% trans "Add to cart" %}</button>
			</td>
			<th>{% trans "Subtotal" %}</th>
			<td ng-bind="context.subtotal"></td>
		</tr>
	</tbody>
</table>
{% endblock add-product-to-cart-table %}
