{% extends "myshop/catalog/product-detail.html" %}
{% load i18n static cms_tags sekizai_tags thumbnail %}

{% block head %}
{{ block.super }}
{% addtoblock "js" %}
<script src="{% static 'myshop/js/easyzoom.js' %}" type="text/javascript"></script>
{% endaddtoblock %}
{% endblock head %}

{% block main-content %}
<div class="container">
	<div class="row product-detail">
		<div class="col-xs-12 col-md-12">
			<div class="hidden-xs col-md-8">
					<h1>{{ product.product_name|safe }}</h1>
			</div>
			<div class=" col-md-4">
				{% if product.unit_price != product.price_without_discount %}
				<div class="promoBox">
					<aside><h3>{{ product.discount }}</h3></aside>
					<h4 style="color: #4f85bb">{{ product.get_availability_display }}</h4>
					{% if product.promo_option %}
					<h4 style="color: #4f85bb">{{ product.get_promo_option_display }}</h4>
					{% endif %}
					<h3 style="color: red;">{{ product.unit_price }}</h3>
					<p><del>{{ product.price_without_discount }}</del></p>
					<h2 class="visible-xs">{{ product.product_name|safe }}</h2>
				</div>
				{% else %}
				<div class="promoBox">
					<h4 style="color: #4f85bb">{{ product.get_availability_display }}</h4>
					{% if product.promo_option %}
					<h4 style="color: #4f85bb">{{ product.get_promo_option_display }}</h4>
					{% endif %}
					<h3 style="color: #4f85bb;">{{ product.unit_price }}</h3>
					<h2 class="visible-xs">{{ product.product_name|safe }}</h2>
				</div>
				{% endif %}
			</div>
			</div>
		<div class="col-xs-12 col-md-1 thumbnails" >
				{% for img in product.images.all %}
				{% thumbnail img 150x150 as thumb %}
				<a href="{{ img.url }}" data-standard="{{ img.url }}">
					<img style="margin-bottom: 10%;" src="{{ thumb.url }}" width="auto"
						 height="{{ thumb.height }}" alt="{{ product.product_name }}" style="margin-bottom: 2%;">
				</a>
				{% endfor %}
			</div>
		<div class="images col-xs-12 col-md-6 text-center">
				<div class="easyzoom easyzoom--overlay easyzoom--with-thumbnails is-ready">
					<a href="{{ product.images.all.0.url }}">
						<img src="{{ product.images.all.0.url }}" class="hidden-xs" style="max-height: 46em; max-width: 36em;"
							 alt="{{ product.product_name }}">
						<img src="{{ product.images.all.0.url }}" class="visible-xs hidden-sm" style="max-height: 30em; max-width: 20em;"
							 alt="{{ product.product_name }}">
					</a>
				</div>
			</div>
		<div class="col-xs-12 col-md-5">
			{% include "myshop/catalog/clothes-add2cart.html" %}

			<table class="table" style="background-color: #fff;">
				<tbody class="">
				<tr>
					<td>{% trans "Gender" %}</td>
					<td>{{ product.get_gender_display }}</td>
				</tr>
				<tr>
					<td>{% trans "Category" %}</td>
					<td>{{ product.category }}</td>
				</tr>
				{% if product.country_of_origin %}
				<tr>
					<td>{% trans "Country of origin" %}</td>
					<td>{{ product.country_of_origin }}</td>
				</tr>
				{% endif %}
				{% if product.manufacturer %}
				<tr>
					<td>{% trans "Manufacturer" %}</td>
					<td>{{ product.manufacturer }}</td>
				</tr>
				{% endif %}
				{% if product.color %}
				<tr>
					<td>{% trans "Color" %}</td>
					<td>{{ product.color }}</td>
				</tr>
				{% endif %}
				{% if product.color %}
				<tr>
					<td>{% trans "Season" %}</td>
					<td>{{ product.get_season_display }}</td>
				</tr>
				{% endif %}
				{% if product.fabric %}
				<tr>
					<td>{% trans "Fabric" %}</td>
					<td>{{ product.fabric }}</td>
				</tr>
				{% endif %}
				{% if product.composition %}
				<tr>
					<td>{% trans "Composition" %}</td>
					<td>{{ product.composition }}</td>
				</tr>
				{% endif %}
				{% if product.decoration %}
				<tr>
					<td>{% trans "Decoration" %}</td>
					<td>{{ product.decoration }}</td>
				</tr>
				{% endif %}
				</tbody>
			</table>
		</div>

		</div>
		<div class="col-xs-12 col-md-12" style="margin-top: 2%; padding-top: 2%; background-color: #fff;  border-radius: 4px" >
			{{ product.description|safe }}
		</div>
	{% get_current_language as lang%}
	{% if lang == "uk" %}
	<div class="col-xs-12 text-center"><a class="btn btn-primary btn-block text-center" href="/uk/rozmirna-sitka/" style="max-width: 10em;">Розмірна сітка</a></div>
	{% else %}
	<div class="col-xs-12 text-center"><a class="btn btn-primary btn-block text-center" href="/ru/razmernaya-setka/" style="max-width: 10em;">Размерная сетка</a></div>
	{% endif %}

</div>

</div>

{% endblock main-content %}
