{% extends "shop/catalog/product-add2cart.html" %}
{% load i18n %}

{% block add-product-to-cart-table %}
<table shop-add-to-cart="{{ product.get_absolute_url }}/add-to-cart" class="table">
	<thead>
		<tr>
			<th>{% trans "Unit Price" %}</th>
			<th>{% trans "Subtotal" %}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td ng-bind="context.unit_price"></td>
			<td ng-bind="context.subtotal"></td>
		</tr>
		<tr>
			{% if product.availability != 'not_available' %}
			<td colspan="2">
				<button class="btn btn-primary btn-block" ng-click="addToCart('{% url 'shop:cart-list' %}')">{% trans "Add to cart" %}</button>
			</td>
			{% else%}
			<td colspan="2">
				<button class="btn btn-primary btn-block disabled">{% trans "Add to cart" %}</button>
			</td>
			{% endif %}
		</tr>
	</tbody>
</table>
{% endblock add-product-to-cart-table %}
