{% extends "myshop/pages/default.html" %}
{% load cms_tags sekizai_tags static sass_tags %}

{% block title %}{{ product.product_name }}{% endblock %}

{% block head %}
	{{ block.super }}
	{% addtoblock "css" %}<link href="{% sass_src 'myshop/css/product-detail.scss' %}" rel="stylesheet" type="text/css" />{% endaddtoblock %}
	{% addtoblock "js" %}<script src="https://unpkg.com/js-image-zoom@0.4.1/js-image-zoom.js" type="text/javascript"></script>{% endaddtoblock %}
	{% addtoblock "js" %}<script src="{% static 'myshop/js/zoom.js' %}" type="text/javascript"></script>{% endaddtoblock %}
{% endblock head %}

{% block main-content %}
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<h1>{% render_model product "product_name" %}</h1>
			{# the first `render_placeholder` is only required for editing the page #}
			{% render_placeholder product.placeholder %}{% render_placeholder product.placeholder as product_details %}
			{% if not product_details %}
			<p class="lead">Edit this page, then switch into <em>Structure</em> mode and add plugins to placeholder <code> {{ product.placeholder.slot }} </code>.</p>
			{% endif %}
		</div>
	</div>
</div>
{% endblock main-content %}
