{# This template is shared between Django and AngularJS #}
{% load i18n djng_tags %}
{% angularjs ng %}
<figure>
	{% ifnotequal  product.discount "- 0 %" %}
	<h3 class= "pull-right" style="color: #016d8b; background-color: transparent;"><em><strong>{{ product.discount }}</strong></em></h3>
	{% endifnotequal %}
	<a href="{{ product.product_url }}" class="text-center">
		<div {% if ng %} ng-bind-html="product.media"{% endif %}>{{ product.media }}</div>
		<h4>{{ product.product_name }}</h4>
	</a>
	<figcaption>
		<div>
			<strong>{% trans "Price" %}: </strong>
			{% ifnotequal  product.discount "- 0 %" %}
			<strike>{{ product.price_without_discount }}</strike>
			{% endifnotequal %}
			<h3 style="color: #016d8b;">{{ product.price }}</h3>
		</div>
		{% if product.size_range %}
		<div>
			<h5> <strong>{% trans "Available sizes" %}: </strong>
			{% if ng %}<ng-bind-html ng-bind-html="product.size_range"></ng-bind-html>{% else %}{{ product.size_range|safe }}{% endif %}
			</h5>
		</div>
		{% endif %}
	</figcaption>
</figure>
{% endangularjs %}

